body {
  padding: 0;
  margin: 0;
  background-color: #fffada;
}
.logo {
  width: 60px;
  border-radius: 100%;
}
.top {
  position: absolute;
  top: 0.0000001px;
  left: 50px;
}
nav {
  display: flex;
  padding-left: px;
  background-color: yellow;
  font-size: 15px;
  box-shadow: 2px 0px 2px 2px gray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.fb {
  width: 50px;
  position: absolute;
  top: 3px;
  left: 85%;
}
.yt {
  width: 50px;
  padding-top: 5px;
  padding-left: 30px;
  position: absolute;
  top: 0.0000001px;
  left: 63%; 
}
a {
  text-decoration: none;
}
table {
  width: 100%;
  background-color: #fff;
  border: none;
}
.as {
  background-color: ghostwhite;
}
.bg {
  background-color: #fff;
}
input {
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 5px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;

}
p {
  text-align: center;
}
.h1 {
  text-align: center;
  color: red;
}