 body {
  padding: 0;
  margin: 0;
  background-color: #fffada;
}
.logo {
  width: 60px;
  border-radius: 100%;
}
.top {
  position: absolute;
  top: 0.0000001px;
  left: 50px;
}
nav {
  display: flex;
  padding-left: px;
  background-color: yellow;
  font-size: 15px;
  box-shadow: 2px 0px 2px 2px gray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}
.fb {
  width: 50px;
  position: absolute;
  top: 3px;
  left: 85%;
}
.yt {
  width: 50px;
  padding-top: 5px;
  padding-left: 30px;
  position: absolute;
  top: 0.0000001px;
  left: 63%; 
}
nav {
  display: flex;
  padding-left: px;
  background-color: yellow;
  font-size: 15px;
  box-shadow: 2px 0px 2px 2px gray;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.course {
  display: flex;
}
.course-img {
  width: 250px;
  border-radius: 10px;
  padding: 0;
  margin: 0;
}
p {
  text-align: center;
  
}
.btn {
  width: 250px;
  border-radius: 10px;
  background-color: #10c166;
  height: 30px;
  border: none;
}
